
body {
    min-height: 100vh;  /* needed to make sure body fills up window */
}

header {
  background-color: rgb(249, 172, 120);
  color: white;
}

main {

}

footer {
  background-color: rgb(249, 172, 120);
  color: rgb(201, 82, 61);
}

#top {
  background-color: white;
  color: black;
}

#place {

}

nav {

}
