body {
    min-height: 100vh;  /* needed to make sure body fills up window */
    font-family: helvetica;
    font-weight: 400;
    font-style: normal;
}

img{
  max-width: 480px;
  height: auto;
  width: auto;
}

header {
  background-color: white;
  color: rgb(60, 63, 153);

  display: flex;
  flex-wrap: wrap-reverse;
  flex-direction: row;
  justify-content: space-evenly;
  padding: 10px 10px 10px 10px;
}

#pageTitle{

}

#museumName {
  color: rgb(201, 82, 61);
  font-family: "montserrat", sans-serif;
  font-weight: bold;
  font-style: normal;
}

nav {
  display: inline;
  color: black;
  font-weight: 400;

  flex-grow: 1;
  align-self: flex-end;
}

main {

}

#title {
  background-color: rgb(249, 172, 120);
  color: white;

  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;

}

#headerImage{
  flex: 1 1 30%;
}

#headerTitle{
  flex: 1 0 60%;
}

#author{
  font-size: 4em;
  font-weight: bold;
}

#artName{
  font-size: 2.5em;
  font-style: italic;
  font-weight: 100;
}

.section1 {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

#sectionHeader{
  border-bottom: 2px solid rgb(153,153,153);
  color: rgb(201, 82, 61);
}

#sectionTitle{
  font-size: 1.5em;
  font-weight: bold;
}

#sectionSubtitle{
  font-size: 1.5em;
  font-weight: 300;
}

#sketch{

}

#more {
  color: rgb(201, 82, 61);
  background-color: white;
  outline: none;
  border: none;
  text-decoration: underline;
}

#expand{
  display: flex;
  flex-wrap: wrap;
}

#corridor{

}

#less{
  color: rgb(201, 82, 61);
}

#expand p,
#less {
	display: none;
}

#expand:target p,
#expand:target #less {
	display: block;
}

#expand:target #more {
	display: none;
}

#expand img,
#less {
	display: none;
}

#expand:target img,
#expand:target #less {
	display: block;
}

#expand:target #more {
	display: none;
}

footer {
  background-color: rgb(249, 172, 120);
  color: rgb(201, 82, 61);

  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-around;
}

.footerTitle {
  font-family: montserrat, sans-serif;
  font-weight: bold;
  font-style: normal;
}

.info {
  font-family: montserrat, sans-serif;
  font-weight: 500;
  font-style: normal;
}

#place {
  border: 1px solid black;
}

#hours {
  border: 1px solid black;
}
